app-orderslist {
  table {
    width: 100%;
  }
  table,
  th,
  td {
    border: 1px solid #0000003d;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 15px;
    text-align: left;
  }
  #t01 th {
    background-color: grey;
    color: white;
  }
}
