
<div [ngClass]="{'viewport':IsLoggedIn}">
    <!-- Sidebar -->
    <div id="sidebar" class="hide" *ngIf="IsLoggedIn">
        <header>
            <div class="d-flex pl-2 mt-3">
                <img src="./assets/logo1.jpg" width="50" height="50" class="brdr-rd">
                <h4 class="pl-3 d-flex align-self-center white-color"><i>OMS</i></h4>
            </div>
        </header>
        <ul class="nav mt-4 cursor" style="background: #07075f;" (click)="Navigate()">
            <li>
                <div class="d-flex pl-3" style="min-height: 44px;">
                    <i class='fas fa-list pr-2 white-color' style="align-self:center;"></i>
                    <h6 class="pl-3 white-color" style="align-self:center;">Orders List</h6>
                </div>
            </li>
        </ul>
    </div>
    <!-- Content -->
    <div>
        <nav class="navbar navbar-default bg-color " style="height: 70px;" *ngIf="IsLoggedIn">
            <div class="container-fluid d-flex justify-content-end">
                <!-- <ul style="margin-bottom: 0;"> -->
                <!-- <div class="d-flex">
                        <img src="./assets/logo1.jpg" class="d-flex justify-content-start" width="50" height="50">
                        <h4 class="pl-3 d-flex justify-content-center align-self-center white-color">Order Management
                            System</h4>
                    </div> -->
                <div class="cursor">
                    <i class='fas fa-power-off white-color' [ngbPopover]="profile"></i>
                </div>
                <!-- </ul> -->
            </div>

        </nav>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

    <ng-template #profile>
        <div class="d-flex justify-content-center">
            <i class='fas fa-user-circle' style="font-size: 85px;"></i>
        </div>
        <div class="d-flex justify-content-center pb-3 pt-1" style="width: 250px;">
            <h4 class="color">{{UserData?.firstName}}&nbsp;{{UserData?.lastName}}</h4>
        </div>

        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-light">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="Logout()">Logout</button>
        </div>

    </ng-template>
</div>
