/* You can add global styles to this file, and also import other style files */

.icon-color {
  color: #007bff !important;
}

.bg-color-grey {
  background-color: grey;
}

.bg-color {
  background-color: navy !important;
}

.color {
  color: navy !important;
}

.white-color {
  color: #fff !important;
}

.cursor {
  cursor: pointer;
}

.icon-size {
  font-size: 35px;
}
